.final{
    color: cornsilk;
    background-image: url(../Assets/pexels-photo-5418830.jpeg);
    height: 50vh;
    width: 40%;
    margin-left: 30%;
    padding: 20px;
    margin-top: 10%;
    background: rgba(0, 0, 0, 0.445);
    padding-top: 5%;

}
/* h1{
    text-decoration: underline;
    text-align: center;
    text-emphasis: none;
} */
.final p{
    text-align: center;
    font-size: large;
}
.final h1{
    color: cornsilk;
    text-decoration: underline;

}
.anni1{
    font-size: 15px; 
    animation: moveleft 9s;
    visibility: hidden;
    animation-fill-mode: forwards;
    

}
@keyframes moveleft{
    0%{
        transform: translateX(-100px);
        visibility: visible;
    }
    100%{
        transform: translateX(0);
        visibility: visible;
    }
}
.anni2{
    font-size: 15px; 
    animation: moveleft 11s;
    visibility: hidden;
    animation-fill-mode: forwards;
    


}
@keyframes moveleft{
    0%{
        transform: translateX(-100px);
        visibility: visible;
    }
    100%{
        transform: translateX(0);
        visibility: visible;
    }
}

.anni3{
     font-size: 15px; 
    animation: moveleft 12s;
    visibility: hidden;
    animation-fill-mode: forwards;
    


}
@keyframes moveleft{
    0%{
        transform: translateX(-100px);
        visibility: visible;
    }
    100%{
        transform: translateX(0);
        visibility: visible;
    }
}